<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id='sysDate' class="java.util.Date"></bean>
    <bean id='dob' class="java.util.Date">
    	<property name="year" value="99"></property>
    	<property name="month" value="3"></property>
    	<property name="date" value="25"></property>
    </bean>
    
    
   <bean id='clg' class="in.ineuron.comp.College">
   		<property name="studNames">
   			<list>
   				<value>Rohit</value>
   				<value>Sudipa</value>
   				<value>Pulkit</value>
   				<value>Neha</value>
   			</list>
   		</property>
   		
   		<property name="dateList">
   			<list>
   				<ref bean="sysDate"/>
   				<ref bean="dob"/>
   			</list>
   		</property>
   </bean>
   
   <bean id='contacts' class='in.ineuron.comp.ContactsInfo'>
   		<property name="phones">
   			<set>
   				<value>8785785789</value>
   				<value>4787487489</value>
   				<value>9787484759</value>
   			</set>
   		</property>
   		
   		<property name="dates">
   			<set>
   				<ref bean='sysDate'/>
   				<ref bean='dob'/>
   			</set>
   		</property>
   </bean>
				
</beans>

